@font-face {
  font-family: chiptune-font;
  src: url(./DisposableDroidBB.ttf);
}

@font-face {
  font-family: chiptune-font-bold;
  src: url(./DisposableDroidBB_bld.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: chiptune-font;
  font-size: 1.2rem;
}

*:hover {
  cursor: default;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-weight: 400;
  font-family: chiptune-font-bold;
  font-size: 2rem;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  grid-column: 2 / 3;
}

#instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 250px;
  padding-left: 30px;
  gap: 20px;
  grid-column: 3 / 4;
}

#frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

#mute-button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-self: center;
  justify-self: center;
  background-color: rgb(205, 0, 0);
}

#mute-button:hover {
  background-color: rgb(184, 0, 0);
}

#mute-button img {
  width: 100%;
}

#mute-button>div:hover, #mute-button img:hover {
  cursor: pointer;
}

#score {
  display: grid;
  grid-template-columns: 1fr 125px 1fr;
  width: 200px;
  background-color: rgb(205, 0, 0);
  border-radius: 15px 15px 0px 0px;
  text-align: center;
  height: 22px;
}

#score>p {
  grid-column: 2 / 3;
}

.right-div, .left-div {
  width: 20px;
  height: 10px;
  overflow: hidden;
}

.right-div>div {
  border-radius: 0px 0px 0px 15px;
  width: 100%;
  height: 100%;
  box-shadow: -3px 3px rgb(205, 0, 0);
}

.left-div>div {
  border-radius: 0px 0px 15px 0px;
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px rgb(205, 0, 0);
}

#gameboard {
  width: 40vw;
  height: 40vw;
  background-color: orange;
  outline: 5px solid rgb(205, 0, 0);
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.608);
  box-shadow: 0px 0px 20px 10px rgb(255, 0, 0);
}

#gameboard>div {
  border: 1px solid rgba(0, 0, 0, 0.608);
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameboard button {
  width: 150px;
}

#apple {
  width: 80%;
}

#press-key {
  position: absolute;
  display: none;
}

#game-lost {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
}

#game-won {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
}

.alert {
  justify-self: center;
  align-self: center;
}